<div id="login" class="animated fadeInDown">
    <header id="header">
        <!--<span id="logo"></span>-->

        <div id="logo-group">
            <span id="logo"> <img ng-src="img/logo.png" alt="CompanyLogo"> </span>

            <!-- END AJAX-DROPDOWN -->
        </div>

    </header>
    <div id="main" role="main">
        <div id="content" class="container">

            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                    <div class="well no-padding">
                        <form ng-submit="validateUser(formData.username,formData.password)" id="login-form" class="smart-form client-form">
                            <header>
                                Sign In
                            </header>
                            <div ng-if="errorMessage" class="alert alert-danger fade in">
                                <button class="close" data-dismiss="alert" ng-click="closeClick()">
                                    ×
                                </button>
                                <i class="fa-fw fa fa-times"></i>
                                <strong>Error!</strong> {{errorMessage}}
                            </div>
                            <fieldset>

                                <section>
                                    <label class="label">E-mail</label>
                                    <label class="input"> <i class="icon-append fa fa-user"></i>
                                        <input type="email" name="email" ng-model="formData.username">
                                        <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter email address/username</b></label>
                                </section>

                                <section>
                                    <label class="label">Password</label>
                                    <label class="input"> <i class="icon-append fa fa-lock"></i>
                                        <input type="password" name="password" ng-model="formData.password">
                                        <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your password</b> </label>

                                </section>
                            </fieldset>
                            <footer>
                                <button type="submit" ng-class="(!formData) ? 'btn btn-primary disabled' : 'btn btn-primary'">
                                    Sign in
                                </button>
                            </footer>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
